@media screen and (max-width: 2560px) {
  .employee__card-wrapper {
    padding-top: 22rem;
  }
}

@media screen and (max-width: 768px) {
  .header {
    &__text-box {
      transform: translate(-48%, -50%);
    }
  }

  .heading-primary {
    &--main {
       font-size: 6rem;
       letter-spacing: 2.5rem;
    }

    &--sub {
       font-size: 1.5rem;
       letter-spacing: 1rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    &__text-box {
      transform: translate(-48%, -50%);
    }
  }

  .heading-primary {
    &--main {
       font-size: 5rem;
       letter-spacing: 2rem;
    }

    &--sub {
       font-size: 1rem;
       letter-spacing: 0.8rem;
    }
  }

  .btn {
    &:link,
    &:visited {
      font-size: 1.5rem;
      padding: 1rem 3rem;
    }
  }

}
