$color-primary-light: #2C2F41;
$color-primary-dark: #242639;

$color-secondary-light: #5FA3FF;
$color-secondary-dark: #5572FE;

$color-grey-dark: #777;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-white: #fff;
$color-black: #000;
